 body {
            background-color: antiquewhite;
        }

        td {
            border-width: 2px;
            border-color: black;
            border-style: solid;
              padding: 5px;
        }

        #cou {
            width: 170px;
            text-align: center;
        }

        tr {
            padding: 5px;
            
        }

        table {
            text-align: center
        }

        .div {
            width: fit-content;
            height: fit-content;
            border-radius: 10px;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            padding: 10px;
            background-color:beige;
        }
        button:hover{
            scale: 1.05;
            cursor: pointer;
            transition: 0.8s;
        }